<!DOCTYPE html>
<html lang="en" dir="ltr">
  <!-- ============ HEAD ============ -->
  <% include ./partials/head.ejs %>
  <body>
    <div class="show-main">
        <h3>My Favorite Things Show Page</h3>
    </div>
        <h1><%=things.name %></h1>
        <img class="show-image"
          src="<%= things.img %>" alt="things image" width="200" heigth="200 border="0> <br></br>
        <h5>Description:</h5>
        <p><%= things.description %></p>
        <nav class="shop">
          Shop for <%=things.name %> products here: <a href="<%=things.webLink%>" alt="Web Link">Click Me! </a>
        </nav>

        <nav class="back">
          <a href="/things" class="back-btn">Back to My Favorite Things Index Page</a>
        </nav>
      </body>
</html>
